In [1]:
import sqlite3 #database
import json #loadin lines from datadump
from datetime import datetime #logging

In [35]:
timeframe= "2015-01"
start_row = 0
cleanup = 1000000
sql_transaction=[]
connection=sqlite3.connect('{}.db'.format (timeframe))
c=connection.cursor()

In [19]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [42]:
if __name__ == '__main__':
    create_table()
    row_counter = 0
    paired_rows = 0

                
    with open('/Users/darshandoshi/Desktop/git-repositiories/CHATBOT/RC_2015-01', buffering=1000) as f:
        for row in f:
            row_counter += 1
            if row_counter > start_row:
                try:
                    row = json.loads(row)
                    parent_id = row['parent_id'].split('_')[1]
                    body = format_data(row['body'])
                    created_utc = row['created_utc']
                    score = row['score']
                    
                    comment_id = row['id']
                    
                    subreddit = row['subreddit']
                    parent_data = find_parent(parent_id)
                    
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            if accepted(body):
                                sql_insert_replace_comment(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                
                    else:
                        if accepted(body):
                            if parent_data:
                                if score >= 2:
                                    sql_insert_has_parent(comment_id,parent_id,parent_data,body,subreddit,created_utc,score)
                                    paired_rows += 1
                            else:
                                sql_insert_no_parent(comment_id,parent_id,body,subreddit,created_utc,score)
                except Exception as e:
                    print(str(e))
                            
            if row_counter % 100000 == 0:
                print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))

            if row_counter % cleanup == 0:
                print("Cleanin up!")
                sql = "DELETE FROM parent_reply WHERE parent IS NULL"
                c.execute(sql)
                connection.commit()
                c.execute("VACUUM")
                connection.commit()

Total Rows Read: 100000, Paired Rows: 5936, Time: 2018-03-26 00:50:39.495343
Total Rows Read: 200000, Paired Rows: 13449, Time: 2018-03-26 00:52:57.652965
Total Rows Read: 300000, Paired Rows: 21660, Time: 2018-03-26 00:55:11.192649
Total Rows Read: 400000, Paired Rows: 29860, Time: 2018-03-26 00:57:17.069917
Total Rows Read: 500000, Paired Rows: 37870, Time: 2018-03-26 00:59:19.340125
Total Rows Read: 600000, Paired Rows: 45130, Time: 2018-03-26 01:01:18.678202
Total Rows Read: 700000, Paired Rows: 52587, Time: 2018-03-26 01:03:12.568969
Total Rows Read: 800000, Paired Rows: 60809, Time: 2018-03-26 01:05:04.030882
Total Rows Read: 900000, Paired Rows: 69269, Time: 2018-03-26 01:06:56.475027
Total Rows Read: 1000000, Paired Rows: 77622, Time: 2018-03-26 01:08:49.746317
Cleanin up!
Total Rows Read: 1100000, Paired Rows: 84543, Time: 2018-03-26 01:11:27.429668
Total Rows Read: 1200000, Paired Rows: 92429, Time: 2018-03-26 01:13:34.059040
Total Rows Read: 1300000, Paired Rows: 100672, Time: 2018-03-26 01:15:39.133523
Total Rows Read: 1400000, Paired Rows: 108836, Time: 2018-03-26 01:17:39.474643
Total Rows Read: 1500000, Paired Rows: 116737, Time: 2018-03-26 01:19:33.713903
Total Rows Read: 1600000, Paired Rows: 125052, Time: 2018-03-26 01:21:26.934721
Total Rows Read: 1700000, Paired Rows: 133083, Time: 2018-03-26 01:23:19.504606
Total Rows Read: 1800000, Paired Rows: 141015, Time: 2018-03-26 01:25:11.147878
Total Rows Read: 1900000, Paired Rows: 148487, Time: 2018-03-26 01:26:58.717400
Total Rows Read: 2000000, Paired Rows: 157290, Time: 2018-03-26 01:28:56.978889
Cleanin up!
Total Rows Read: 2100000, Paired Rows: 163605, Time: 2018-03-26 01:31:46.572158
Total Rows Read: 2200000, Paired Rows: 170879, Time: 2018-03-26 01:34:02.427842
Total Rows Read: 2300000, Paired Rows: 178859, Time: 2018-03-26 01:36:06.646655
Total Rows Read: 2400000, Paired Rows: 187436, Time: 2018-03-26 01:38:10.947044
Total Rows Read: 2500000, Paired Rows: 196544, Time: 2018-03-26 01:40:15.784244
Total Rows Read: 2600000, Paired Rows: 205886, Time: 2018-03-26 01:42:18.833072
Total Rows Read: 2700000, Paired Rows: 215201, Time: 2018-03-26 01:44:21.861328
Total Rows Read: 2800000, Paired Rows: 224323, Time: 2018-03-26 01:46:22.830358
Total Rows Read: 2900000, Paired Rows: 233268, Time: 2018-03-26 01:48:25.222370
Total Rows Read: 3000000, Paired Rows: 242221, Time: 2018-03-26 01:50:26.968920
Cleanin up!
Total Rows Read: 3100000, Paired Rows: 249431, Time: 2018-03-26 01:53:33.239125
Total Rows Read: 3200000, Paired Rows: 257680, Time: 2018-03-26 01:55:54.489354
Total Rows Read: 3300000, Paired Rows: 266129, Time: 2018-03-26 01:58:06.159923
Total Rows Read: 3400000, Paired Rows: 274411, Time: 2018-03-26 02:00:14.738091
Total Rows Read: 3500000, Paired Rows: 282986, Time: 2018-03-26 02:02:21.960793
Total Rows Read: 3600000, Paired Rows: 291415, Time: 2018-03-26 02:04:26.949089
Total Rows Read: 3700000, Paired Rows: 299712, Time: 2018-03-26 02:06:33.268275
Total Rows Read: 3800000, Paired Rows: 307559, Time: 2018-03-26 02:08:39.721216
Total Rows Read: 3900000, Paired Rows: 315538, Time: 2018-03-26 02:10:46.647650
Total Rows Read: 4000000, Paired Rows: 323954, Time: 2018-03-26 02:12:50.967003
Cleanin up!
Total Rows Read: 4100000, Paired Rows: 331217, Time: 2018-03-26 02:16:06.036112
Total Rows Read: 4200000, Paired Rows: 339732, Time: 2018-03-26 02:18:32.263455
Total Rows Read: 4300000, Paired Rows: 348347, Time: 2018-03-26 02:20:53.598768
Total Rows Read: 4400000, Paired Rows: 357050, Time: 2018-03-26 02:23:14.747361
Total Rows Read: 4500000, Paired Rows: 365513, Time: 2018-03-26 02:25:20.597110
Total Rows Read: 4600000, Paired Rows: 373961, Time: 2018-03-26 02:27:25.879482
Total Rows Read: 4700000, Paired Rows: 382000, Time: 2018-03-26 02:29:33.334432
Total Rows Read: 4800000, Paired Rows: 390798, Time: 2018-03-26 09:23:33.590159
Total Rows Read: 4900000, Paired Rows: 399263, Time: 2018-03-26 09:25:48.371677
Total Rows Read: 5000000, Paired Rows: 407298, Time: 2018-03-26 09:27:53.196787
Cleanin up!
Total Rows Read: 5100000, Paired Rows: 414389, Time: 2018-03-26 09:31:04.936920
Total Rows Read: 5200000, Paired Rows: 422584, Time: 2018-03-26 09:33:33.190008
Total Rows Read: 5300000, Paired Rows: 430876, Time: 2018-03-26 09:35:56.371252
Total Rows Read: 5400000, Paired Rows: 438657, Time: 2018-03-26 09:38:14.719945
Total Rows Read: 5500000, Paired Rows: 446686, Time: 2018-03-26 09:49:29.451174
Total Rows Read: 5600000, Paired Rows: 455006, Time: 2018-03-26 09:51:40.057357
Total Rows Read: 5700000, Paired Rows: 463516, Time: 2018-03-26 09:53:50.340520
Total Rows Read: 5800000, Paired Rows: 472048, Time: 2018-03-26 09:56:00.849301
Total Rows Read: 5900000, Paired Rows: 480577, Time: 2018-03-26 09:58:11.190847
Total Rows Read: 6000000, Paired Rows: 489313, Time: 2018-03-26 10:00:22.307378
Cleanin up!
Total Rows Read: 6100000, Paired Rows: 496368, Time: 2018-03-26 10:03:42.484148
Total Rows Read: 6200000, Paired Rows: 504078, Time: 2018-03-26 10:06:18.684478
Total Rows Read: 6300000, Paired Rows: 511911, Time: 2018-03-26 10:08:41.688359
Total Rows Read: 6400000, Paired Rows: 519451, Time: 2018-03-26 10:10:52.587480
Total Rows Read: 6500000, Paired Rows: 528246, Time: 2018-03-26 10:13:11.026573
Total Rows Read: 6600000, Paired Rows: 537181, Time: 2018-03-26 10:15:26.480201
Total Rows Read: 6700000, Paired Rows: 546204, Time: 2018-03-26 10:17:49.158348
Total Rows Read: 6800000, Paired Rows: 555098, Time: 2018-03-26 10:22:47.368936
Total Rows Read: 6900000, Paired Rows: 563900, Time: 2018-03-26 10:26:57.654623
Total Rows Read: 7000000, Paired Rows: 572102, Time: 2018-03-26 10:30:31.048777
Cleanin up!
Total Rows Read: 7100000, Paired Rows: 578713, Time: 2018-03-26 10:34:51.799836
Total Rows Read: 7200000, Paired Rows: 586664, Time: 2018-03-26 10:37:31.496727
Total Rows Read: 7300000, Paired Rows: 595236, Time: 2018-03-26 10:39:47.513141
Total Rows Read: 7400000, Paired Rows: 604395, Time: 2018-03-26 10:42:22.473707
Total Rows Read: 7500000, Paired Rows: 613727, Time: 2018-03-26 10:44:47.862461
Total Rows Read: 7600000, Paired Rows: 623395, Time: 2018-03-26 10:47:03.779672
Total Rows Read: 7700000, Paired Rows: 632384, Time: 2018-03-26 10:49:12.286074
Total Rows Read: 7800000, Paired Rows: 640873, Time: 2018-03-26 10:51:16.437795
Total Rows Read: 7900000, Paired Rows: 650196, Time: 2018-03-26 10:53:31.197199
Total Rows Read: 8000000, Paired Rows: 659353, Time: 2018-03-26 10:55:54.309356
Cleanin up!
Total Rows Read: 8100000, Paired Rows: 666445, Time: 2018-03-26 10:59:37.203683
Total Rows Read: 8200000, Paired Rows: 674651, Time: 2018-03-26 11:01:56.637025
Total Rows Read: 8300000, Paired Rows: 682557, Time: 2018-03-26 11:04:10.537888
Total Rows Read: 8400000, Paired Rows: 690572, Time: 2018-03-26 11:06:31.709711
Total Rows Read: 8500000, Paired Rows: 698846, Time: 2018-03-26 11:08:50.653957
Total Rows Read: 8600000, Paired Rows: 707448, Time: 2018-03-26 11:11:03.421479
Total Rows Read: 8700000, Paired Rows: 715687, Time: 2018-03-26 11:13:03.419645
Total Rows Read: 8800000, Paired Rows: 723633, Time: 2018-03-26 11:15:05.098902
Total Rows Read: 8900000, Paired Rows: 731742, Time: 2018-03-26 11:17:00.508357
Total Rows Read: 9000000, Paired Rows: 740447, Time: 2018-03-26 11:18:55.765813
Cleanin up!
Total Rows Read: 9100000, Paired Rows: 747732, Time: 2018-03-26 11:21:55.013187
Total Rows Read: 9200000, Paired Rows: 756768, Time: 2018-03-26 11:24:06.785119
Total Rows Read: 9300000, Paired Rows: 766085, Time: 2018-03-26 11:26:11.672431
Total Rows Read: 9400000, Paired Rows: 775336, Time: 2018-03-26 11:28:13.405842
Total Rows Read: 9500000, Paired Rows: 784784, Time: 2018-03-26 11:30:13.330768
Total Rows Read: 9600000, Paired Rows: 794357, Time: 2018-03-26 11:32:11.167034
Total Rows Read: 9700000, Paired Rows: 803740, Time: 2018-03-26 11:34:09.358823
Total Rows Read: 9800000, Paired Rows: 813049, Time: 2018-03-26 11:36:05.021690
Total Rows Read: 9900000, Paired Rows: 822155, Time: 2018-03-26 11:37:58.410471
Total Rows Read: 10000000, Paired Rows: 831104, Time: 2018-03-26 11:39:48.988686
Cleanin up!
Total Rows Read: 10100000, Paired Rows: 838076, Time: 2018-03-26 11:42:40.666313
Total Rows Read: 10200000, Paired Rows: 846378, Time: 2018-03-26 11:44:53.645247
Total Rows Read: 10300000, Paired Rows: 854770, Time: 2018-03-26 11:47:04.507059
Total Rows Read: 10400000, Paired Rows: 863174, Time: 2018-03-26 11:49:08.576649
Total Rows Read: 10500000, Paired Rows: 871319, Time: 2018-03-26 11:51:09.151770
Total Rows Read: 10600000, Paired Rows: 879007, Time: 2018-03-26 11:53:05.904211
Total Rows Read: 10700000, Paired Rows: 886917, Time: 2018-03-26 11:54:54.527455
Total Rows Read: 10800000, Paired Rows: 895409, Time: 2018-03-26 11:56:45.181793
Total Rows Read: 10900000, Paired Rows: 904293, Time: 2018-03-26 11:58:35.087010
Total Rows Read: 11000000, Paired Rows: 913782, Time: 2018-03-26 12:00:26.080230
Cleanin up!

KeyboardInterrupt:

In [10]:
def format_data(data):
    data = data.replace('\n',' newlinechar ').replace('\r',' newlinechar ').replace('"',"'")
    return data

In [12]:
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [13]:
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        #print(str(e))
        return False

In [30]:
def accepted(data):
    if (len(data.split(' '))) > 50 and len(data)<1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]':
        return False
    elif data==['removed']:
        return False
    else:
        return True

In [15]:
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql="""UPDATE parent_reply set parent_id=? , comment_id=?, parent=?, comment=?, subreddit=?, unix=?, score=? WHERE parent_id=?""" .format(parentid,commentid,parent,comment,subreddit,time,score)
        transaction_bldr(sql)
    except Exception as e:
        print("a0",str(e))

In [16]:
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql="""INSERT into parent_reply (parent_id,comment_id,parent,comment,subreddit,unix,score) VALUES ("{}","{}","{}","{}","{}","{}","{}")""".format(parentid,commentid,parent,comment,subreddit,time,score)
        transaction_bldr(sql)
    except Exception as e:
        print("a0",str(e))

In [41]:
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql="""INSERT into parent_reply (parent_id,comment_id,comment,subreddit,unix,score) VALUES ("{}","{}","{}","{}","{}","{}")""".format(parentid,commentid,comment,subreddit,time,score)
        transaction_bldr(sql)
    except Exception as e:
        print("a1",str(e))

In [21]:
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c. execute("BEGIN TRANSACTION")
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
            connection.commit()
            sql_transaction=[]